In [97]:
%config IPcompleter.use_jedi=False

In [98]:
import pandas as pd 

dataset = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\Week11\\heart_disease_dataset.csv")

In [99]:
dataset.head()

  age;sex;chest_pain_type;resting_blood_pressure;cholesterol;fasting_blood_sugar;rest_ecg;max_heart_rate_achieved;exercise_induced_angina;st_depression;st_slope;num_major_vessels;thalassemia;target
0               63;1;3;145;233;1;0;150;0;2.3;0;0;1;1
1               37;1;2;130;250;0;1;187;0;3.5;0;0;2;1
2               41;0;1;130;204;0;0;172;0;1.4;2;0;2;1
3               56;1;1;120;236;0;1;178;0;0.8;2;0;2;1
4               57;0;0;120;354;0;1;163;1;0.6;2;0;2;1

In [100]:
dataset.columns

Index(['age;sex;chest_pain_type;resting_blood_pressure;cholesterol;fasting_blood_sugar;rest_ecg;max_heart_rate_achieved;exercise_induced_angina;st_depression;st_slope;num_major_vessels;thalassemia;target'], dtype='object')

In [101]:
dataset = dataset.rename(columns = {'age;sex;chest_pain_type;resting_blood_pressure;cholesterol;fasting_blood_sugar;rest_ecg;max_heart_rate_achieved;exercise_induced_angina;st_depression;st_slope;num_major_vessels;thalassemia;target'
                                   :'row'})

In [102]:
dataset.columns

Index(['row'], dtype='object')

In [103]:
dataset[['age','sex','chest_pain_type','resting_blood_pressure','cholesterol',
    'fasting_blood_sugar','rest_ecg','max_heart_rate_achieved','exercise_induced_angina',
    'st_depression','st_slope','num_major_vessels','thalassemia','target']] = dataset['row'].str.split(';',13,expand = True)

In [104]:
df = dataset.drop('row',axis = 1)

In [105]:
df.columns

Index(['age', 'sex', 'chest_pain_type', 'resting_blood_pressure',
       'cholesterol', 'fasting_blood_sugar', 'rest_ecg',
       'max_heart_rate_achieved', 'exercise_induced_angina', 'st_depression',
       'st_slope', 'num_major_vessels', 'thalassemia', 'target'],
      dtype='object')

In [10]:
df.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [11]:
df.describe()

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
count,303,303,303,303,303,303,303,303,303,303,303,303,303,303
unique,41,2,4,49,152,2,3,91,2,40,3,5,4,2
top,58,1,0,120,204,0,1,162,0,0.0,2,0,2,1
freq,19,207,143,37,6,258,152,11,204,99,142,175,166,165

In [12]:
df["chest_pain_type"].unique()

array(['3', '2', '1', '0'], dtype=object)

In [13]:
df.shape

(303, 14)

In [106]:
new_list = []
for i in df["st_depression"]:
    i = float(i)
    #print(round(i,0))
    i = int(i)
    #print(type(i))
    new_list.append(i)
    #print(i)
    
#print(type(new_list))
df["st_depression"] = new_list

In [107]:
df["age"] = df["age"].astype(int)
df["sex"] = df["sex"].astype(int)
df["chest_pain_type"] = df["chest_pain_type"].astype(int)
df["resting_blood_pressure"] = df["resting_blood_pressure"].astype(int)
df["cholesterol"] = df["cholesterol"].astype(int)
df["fasting_blood_sugar"] = df["fasting_blood_sugar"].astype(int)
df["rest_ecg"] = df["rest_ecg"].astype(int)
df["max_heart_rate_achieved"] = df["max_heart_rate_achieved"].astype(int)
df["exercise_induced_angina"] = df["exercise_induced_angina"].astype(int)
df["st_depression"] = df["st_depression"].astype(int)
df["st_slope"] = df["st_slope"].astype(int)
df["num_major_vessels"] = df["num_major_vessels"].astype(int)
df["thalassemia"] = df["thalassemia"].astype(int)
df["target"] = df["target"].astype(int)

In [16]:
df.isnull().sum()

age                        0
sex                        0
chest_pain_type            0
resting_blood_pressure     0
cholesterol                0
fasting_blood_sugar        0
rest_ecg                   0
max_heart_rate_achieved    0
exercise_induced_angina    0
st_depression              0
st_slope                   0
num_major_vessels          0
thalassemia                0
target                     0
dtype: int64

In [17]:
df.describe()

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,0.765677,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.070933,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.000000,2.000000,4.000000,3.000000,1.000000

In [108]:
zero = len(df["target"][df["target"] == "0"])/len(df["target"])
one = len(df["target"][df["target"] == "1"])/len(df["target"])

print(f"The ratio of target equal 0 is: {round(zero,2)}")
print(f"The ratio of target equal 1 is: {round(one,2)}")

The ratio of target equal 0 is: 0.0
The ratio of target equal 1 is: 0.0

C:\Users\Lenovo\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [109]:
import numpy as np

In [110]:
x = df.iloc[:,0:-1]
y = df["target"]

In [20]:
x.columns

Index(['age', 'sex', 'chest_pain_type', 'resting_blood_pressure',
       'cholesterol', 'fasting_blood_sugar', 'rest_ecg',
       'max_heart_rate_achieved', 'exercise_induced_angina', 'st_depression',
       'st_slope', 'num_major_vessels', 'thalassemia'],
      dtype='object')

In [21]:
y.columns = "target"
y.columns

'target'

In [30]:
x

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia
0,63,1,3,145,233,1,0,150,0,2,0,0,1
1,37,1,2,130,250,0,1,187,0,3,0,0,2
2,41,0,1,130,204,0,0,172,0,1,2,0,2
3,56,1,1,120,236,0,1,178,0,0,2,0,2
4,57,0,0,120,354,0,1,163,1,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0,1,0,3
299,45,1,3,110,264,0,1,132,0,1,1,0,3
300,68,1,0,144,193,1,1,141,0,3,1,2,3
301,57,1,0,130,131,0,1,115,1,1,1,1,3
302,57,0,1,130,236,0,0,174,0,0,1,1,2

In [83]:
x.shape

(303, 13)

In [124]:
W1 = np.random.rand(x.shape[1],8)

Z1 = np.dot(x,W1)

Z1 = pd.DataFrame(Z1)
Z1.shape

(303, 8)